
div{
    border: 1px solid red;
    /* font-family: Poppins, sans-serif !important; */
}
a{text-decoration: none;}
.wrap{width: 100%; height: 3873px;}
#main{
    width: 1364px;
    height: 3336px;
    margin: auto;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* ------------------------------main_title------------------------------ */
#main_title{
    margin-top: 100px;
    height: 85px;
    font-size: 40px;
}
#main_title>p{font-size: 18px;}

/* ------------------------------main1------------------------------ */
#main_1{
    height: 49px;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #222;
}
#main_1>p{margin: 0;}
#main_1_l{font-size: 22px; font-weight: 700;}
#main_1_r{font-size: 14px; line-height: 40px;}

/* ------------------------------main2------------------------------ */
#main_2{height: 943px;
    /* border: 1px solid green; */
    box-sizing: border-box;
}
#main_2>table>tbody{
    box-sizing: border-box;
}
#main_2>table>tbody>tr{border-bottom: 1.5px solid #eee;}
#main_2>table>tbody>tr>th{
    /* background-color: red; */
    width: 220px;
    text-align: left;
    border-bottom: 1.5px solid #eee;
    font-size: 16px;
    font-weight: 500;
}
#main_2>table>tbody>tr>td{
    /* background-color: green; */
    width: 1144px;
    border-bottom: 1.5px solid #eee;
}
#main_2 input,select{
    font-size: 16px;
    border: 1px solid #ccc;
}
#email{
    height: 161px;
    padding: 24px 0 20px;
}
.inputbox_w{
    width: 260px;
    height: 44px;
}
.why_btn{
    background: url(img/icon_tooltip.png);
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}
#email_check{margin-top: 20px;}
#email_check input{
    font-size: 16px;
}
#email_check p{
    margin-top: 14px;
    margin-bottom: 0px;
}
.small_text_bk{font-size: 14px; color: #222;}
.small_text_rd{font-size: 14px; color: red;}
#pwd{height:  93px; border-bottom: none;}
#pwdck{height: 74px;}
#name{height: 102px;}
#phone{height: 193px;}
#birth{height: 121px;}
#gender{height: 75px;}
#date{height: 124px; border-bottom: none;}

/* ------------------------------main_banner------------------------------ */
#main_banner{
    height: 94px;
    background-color: #faf4e4;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main_banner>span{
    font-size: 20px;
    font-weight: 500;
}
#main_banner>a{
    color: #ec771c;
    font-size: 16px;
}

/* ------------------------------main_terms------------------------------ */
#main_terms{height: 1653px;}

/* ------------------------------main_btn------------------------------ */
#main_btn{height: 60px; margin-top: 80px;}

/* 2884 */