#top{
    font-family: Poppins, sans-serif !important;
    height: 120px;
    box-sizing: border-box;
    margin: 0px 135px;
    font-size: 20px;
    font-weight: 800;
}
#top>div{
    box-sizing: border-box;
    margin: auto;
    height: 100%;
    float: left;
}
#top_left{
    width: 10%;
}
#top_left img{
    width: 105px;
    height: 40px;
    padding-top: 44px;
}
#top_center{
    width: 80%;
    display: flex;
}
#top_center>div{
    justify-content: flex-start;
    padding: 50px 30px 0px;
}
#top_right{
    width: 10%;
    padding-top: 50px;
    display: flex;
    justify-content: right;
}
#top_right>a{
    padding-left: 20px;
}
#login{
    text-decoration: none;
    color: black;
}